Checks: '-*,

        clang-analyzer-*,

        concurrency-*,

        cppcoreguidelines-*,

        modernize-*,
        -modernize-use-trailing-return-type,

        performance-*,

        portability-*,

        readability-*,
        -readability-use-anyofallof,
        '
