---
Checks: '-*,

        bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-forwarding-reference-overload,

        clang-analyzer-*,

        concurrency-*,

        cppcoreguidelines-*,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,

        modernize-*,
        -modernize-use-trailing-return-type,

        performance-*,

        portability-*,

        readability-*,
        -readability-identifier-length,
        -readability-redundant-access-specifiers,
        -readability-use-anyofallof,
        '
...
