Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - clang-analyzer-*
      - concurrency-*
      - cppcoreguidelines-*
      - misc-*
      - modernize-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      - bugprone-easily-swappable-parameters
      - bugprone-macro-parentheses
      - cppcoreguidelines-macro-usage
      - misc-no-recursion
      - misc-non-private-member-variables-in-classes
      - misc-unused-using-decls
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - readability-named-parameter
      - readability-redundant-access-specifiers

CompileFlags:
  CompilationDatabase: develop/.cdb
