---
Checks: '-*,

        bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-forwarding-reference-overload,
        -bugprone-lambda-function-name,
        -bugprone-macro-parentheses,

        clang-analyzer-*,

        concurrency-*,

        cppcoreguidelines-*,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,

        modernize-*,
        -modernize-use-trailing-return-type,

        performance-*,

        portability-*,

        readability-*,
        -readability-identifier-length,
        -readability-named-parameter,
        -readability-redundant-access-specifiers,
        -readability-simplify-boolean-expr,
        -readability-use-anyofallof,
        '
...
