---
Checks: '-*,

        clang-analyzer-*,

        concurrency-*,

        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-special-member-functions,

        modernize-*,
        -modernize-avoid-c-arrays,
        -modernize-use-nodiscard,
        -modernize-use-trailing-return-type,

        portability-*,
        '
...
