---
Checks: '-*,

        bugprone-*,
        -bugprone-easily-swappable-parameters,

        clang-analyzer-*,

        concurrency-*,

        modernize-*,
        -modernize-avoid-c-arrays,
        -modernize-use-nodiscard,
        -modernize-use-trailing-return-type,

        portability-*,
        '
...
